# implicit dependencies
sqlparse==0.3.0

# explicit dependencies
Django==2.2.13
psycopg2==2.8.3
django-user-agents==0.4.0
easy-thumbnails==2.6
Pillow==6.2.0
PyYAML==5.4
ua-parser==0.8.0
user-agents==2.0
django-crispy-forms==1.7.2
sentry-sdk==0.13.0

# because heroku read only this file
dj_database_url
django-heroku==0.3.1
gunicorn
