{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Django Skeleton{% endblock title %}</title>

  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block head %}
  {% endblock head %}
</head>
<body>
  {% block content %}
    {% block navbar %}
      <nav class="navbar navbar-dark bg-dark">
        <a href="#" class="navbar-brand">Django Foundation</a>
        {% if user.is_authenticated %}
          <ul class="ml-auto list-inline">
            <li class="list-inline-item">
              <a href="#">
                <i class="fas fa-user fa-2x"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="material-icons">locks</a>
            </li>
          </ul>
        {% else %}
          <div class="auth-button ml-auto">
            <a href="{% url 'register' %}" class="btn btn-primary">s'inscrire</a>
            <a href="{% url 'login' %}" class="btn btn-warning">connecter</a>
          </div>
        {% endif %}
      </nav>
    {% endblock navbar %}
    {% block page_content %}
    {% endblock page_content %}
  {% endblock %}

  {% include 'misc/footer.html' %}
  <script src="{% static 'js/scripts.js' %}"></script>

  {% block extrajs %}{% endblock %}
</body>
</html>
